
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu-container {
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-container ul {
  list-style-type: none;
  padding: 0;
}

.menu-container ul li {
  display: inline;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

li.link {
  cursor: pointer;
}
